body { 
  background: url('backgrounds/standard.jpg') no-repeat fixed;
  font-family: "Century Gothic", "Arial";
  margin: 0;
}

body#index {
	background: url('backgrounds/index.png');
}

body#theadc {
	background: url('backgrounds/TheADC.jpg');
}

body#thefeeder {
	background: url('backgrounds/TheFeeder.jpg');
}

body#thejungler {
	background: url('backgrounds/TheJungler.png');
}

body#thesolomid {
	background: url('backgrounds/TheSoloMid.jpg');
}

body#thesolotop {
	background: url('backgrounds/TheSoloTop.png');
}

body#thesupport {
	background: url('backgrounds/TheSupport.jpg');
}

header {
	background: -webkit-linear-gradient(left, #373737 , #090909); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #373737, #090909); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #373737, #090909); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #373737 , #090909); /* Standard syntax */
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #5C5C5C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px 5px 5px 5px;
}

nav > ul > li {
	float: left;
	background-color:#6C6C6C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px;
	list-style-type: none;
	text-align: center;
	width: 10%;
	position: relative;
	margin-right: 1%;
	opacity: 0.9;
}

li > ul:first-child {
	border-radius: 5px;
}

li > ul li {
	border-bottom: 1px solid #333;
	
}

li > ul li:last-child {
	border-bottom: 0;
}

li > ul {
	display: none;
	width: 100%;
	box-shadow: 3px 3px 6px black;
	background-color: #6c6c6c;
	padding: 0;
	border-radius: 5px;
	list-style-type: none;
	text-align: center;
	position: absolute;
	margin-top: 4px;
}

li:hover > ul{
	display: block;
}

a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 25px 1%;
}

article {
	margin-top: 100px;
	color: white;
	padding: 20px;
}

div.ADC{
	font-size: 18px;
	width: 100%;
	background: linear-gradient(to right, black , #FFDBB8);
	position: relative;
	top: 450px;
	opacity: 0.9;
}

div.Support{
	font-size: 18px;
	width: 100%;
	background: linear-gradient(to right, black , #94E9D8);
	position: relative;
	top: 450px;
	opacity: 0.9;	
}

div.Jungler{
	font-size: 18px;
	width: 100%;
	background: linear-gradient(to right, #002E0F , #FFDBB8);
	position: relative;
	top: 450px;
	opacity: 0.9;	
}

div.SoloTop{
	font-size: 18px;
	width: 100%;
	background: linear-gradient(to right, black , #FFDBB8);
	position: relative;
	top: 450px;
	opacity: 0.9;	
}

div.SoloMid{
	font-size: 18px;
	width: 100%;
	background: linear-gradient(to right, #391439 , #FFDBB8);
	position: relative;
	top: 500px;
	opacity: 0.9;
}


@media screen and (max-width: 980px) {
	nav > ul > li {
		float: none;
		width: 93%;
		font-size: 52px;
		margin-bottom: 10px;
	}
	
	li > ul {
		position: relative;
		left: 8px;
		z-index: 1;
	}
	
	header {
		font-size: 52px;
	}
	
	article {
		font-size: 400%;
		margin-top: 10px;
	}
	
	body {
		background-color: black;
		background-image: url('..');
	}
	
	body#index {
		background-color: black;
		background-image: url('..');
	}
	
	body#theadc {
		background-color: black;
		background-image: url('..');
	}
	
	body#thefeeder {
		background-color: black;
		background-image: url('..');
	}
	
	body#thejungler {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesolomid {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesolotop {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesupport {
		background-color: black;
		background-image: url('..');
	}
}