body { 
  background: url('backgrounds/standard.jpg') no-repeat fixed;
  font-family: "Century Gothic", "Arial";
  margin: 0;
}

body#index {
	background-color: #080908;
	background-image: url('backgrounds/index.png');
	background-size: contain;
	background-position: center;
}

body#theadc {
	background: url('backgrounds/TheADC.jpg')  no-repeat fixed;
}

body#thefeeder {
	background: url('backgrounds/TheFeeder.jpg') no-repeat fixed;
}

body#thejungler {
	background: url('backgrounds/TheJungler.png') no-repeat fixed;
}

body#thesolomid {
	background: url('backgrounds/TheSoloMid.jpg') no-repeat fixed;
}

body#thesolotop {
	background: url('backgrounds/TheSoloTop.png') no-repeat fixed;
}

body#thesupport {
	background: url('backgrounds/TheSupport.jpg') no-repeat fixed;
}

header {
	background: -webkit-linear-gradient(left, #373737 , #090909);
	background: -o-linear-gradient(right, #373737, #090909);
	background: -moz-linear-gradient(right, #373737, #090909);
	background: linear-gradient(to right, #373737 , #090909);
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #5C5C5C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px 5px 5px 5px;
}

header a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 25px 1%;
}

nav {
	position:relative;
	z-index:10;
}

nav > ul > li {
	float: left;
	background-color:#6C6C6C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px;
	list-style-type: none;
	text-align: center;
	width: 10%;
	position: relative;
	margin-right: 1%;
	opacity: 0.9;
}

nav ul li:first-child {
	margin-left: 1%;
}

nav li ul {
	display:none;
	width: 100%;
	box-shadow: 3px 3px 6px black;
	background-color: #6c6c6c;
	padding: 0;
	border-radius: 5px;
	list-style-type: none;
	text-align: center;
	position: absolute;
}

nav li:hover ul {
	display: block;
}

nav li ul li {
	border-bottom: 1px solid #333;
	
}

nav li ul li:last-child {
	border-bottom: 0;
}

nav a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 25px 1%;
}

article {
	margin-top: 100px;
	color: white;
	font-size: 18px;
	padding: 20px 15%;
}

.role {
	margin-top: 30%;
	overflow: hidden;
	opacity: 0.9;
}

.adc {
	background: linear-gradient(to right, black , #FFDBB8);
}

.support {
	background: linear-gradient(to right, black , #94E9D8);
}

.jungler {
	background: linear-gradient(to right, #002E0F , #FFDBB8);
}

.solotop {
	background: linear-gradient(to right, black , #FFDBB8);
}

.solomid {
	background: linear-gradient(to right, #391439 , #FFDBB8);
}

.feeder {
	background: linear-gradient(to right, black, #FFDBB8);
}

.float {
	float: left;
	list-style-type: none;
	position: relative;
	z-index: 1;
}

.float.roles {
	width: 20%;
}

.float.main.champions {
	width: 14%;
}

.float.champions {
	width: 25%;
}

.float#feeder {
	width: 100%;
	z-index: 1;
	position: relative;
}

.float .position {
	width: 100%;
	height: 100%;
}

.float.main:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	transform: scale(1.06);
	transition: 1s ease;
	z-index: 2;
}

.float.main span {
	padding-top: 10%;
	overflow: show;
	text-align: center;
}

.float span {
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	font-size: 85%;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	overflow: hidden;
}

.float:hover span {
	opacity: 1;
}

ul {
	padding: 0;
	clear: both;
}

@media screen and (max-width: 980px) {
	nav > ul > li {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 52px;
		margin-bottom: 10px;
	}
	
	nav ul li:first-child {
		margin-left: 3%;
	}
	
	nav ul ul li:first-child {
		margin-left: 0;
	}
	
	nav ul li:hover {
		background-color: #3a3a3a;
	}
	
	nav li ul {
		position: relative;
		margin-top: 10px;
		z-index: 1;
	}
	
	header {
		font-size: 52px;
	}
	
	article {
		font-size: 400%;
		margin-top: 10px;
		padding: 8%;
	}
	
	body {
		background-color: black;
		background-image: url('..');
	}
	
	body#index {
		background-color: black;
		background-image: url('..');
	}
	
	body#theadc {
		background-color: black;
		background-image: url('..');
	}
	
	body#thefeeder {
		background-color: black;
		background-image: url('..');
	}
	
	body#thejungler {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesolomid {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesolotop {
		background-color: black;
		background-image: url('..');
	}
	
	body#thesupport {
		background-color: black;
		background-image: url('..');
	}
	
	.float {
		float: none;
		width: 100%;
	}
	
	.float.roles {
		float: none;
		width: 100%;
	}
	
	.float.champions {
		float: none;
		width: 100%;
	}
	
	.float.champions.main {
		float: none;
		width: 100%;
	}
	
	.float span {
		width: 100%;
		font-size: 150%;
		opacity: 1;
		overflow: hidden;
	}
	
	.float.main:hover {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		transition: none;
	}
}