html { 
  background: url('BackgroundBasic.jpg');
  font-family: "Century Gothic", "Arial";
}

header{
	 background: -webkit-linear-gradient(left, #373737 , #090909); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #373737, #090909); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #373737, #090909); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #373737 , #090909); /* Standard syntax */
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #5C5C5C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px 5px 5px 5px;
}

nav > ul > li{
	float: left;
	background-color:#6C6C6C;
	box-shadow: 3px 3px 6px black;
	border-radius: 5px 5px 5px 5px;
	list-style-type: none;
	text-align: center;
	margin-left: -39px;
	margin-right: 45px;
	width: 200px;
	opacity: 0.9;
}

li > ul{
	display: none;
}

li:hover > ul{
	display: block;
	list-style-type: none;
	text-align: center;
	margin-left: -35px;
}

a:link{
	text-decoration: none;
	display: block;
	padding: 25px;
	color: white;
}

a:visited{
	color: white;
}

div.Assasin{
	border: 3px solid red;
	position: fixed;
	bot
}